:root {
  /* Colors */
  --color-main: #3e4d48;
  --color-accent: #aa644b;
  --color-neutral: #a9b094;
  --color-dark: #050505;
  --color-light: #ffffff;

  /* Typography */
  --heading-font: "Inknut Antiqua", serif;
  --body-font: "Open Sans", sans-serif;

  /* Font Size */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-h1: 8rem;

  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Layouts */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  --standard-transition: 2s ease-in-out;
  --standard-radius: var(--spacing-sm);
  --max-width: 85rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  margin: 0;
  width: 100%;
  background: url("assets/background-section.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: var(--font-size-xl);
  color: var(--color-main);
  margin: var(--spacing-lg) 0;
}

/* NAV */

nav {
  box-shadow: var(--standard-box-shadow);
  background-color: var(--color-light);
  width: 100%;
  height: 10vh;
  font-family: var(--heading-font);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
}

nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  color: var(--color-main);
  font-family: var(--heading-font);
  font-size: var(--font-size-md);
}

nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-section::before,
.home-section::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2.5%;
}

.home-section::after {
  background-color: var(--color-main);
  width: 14%;
  top: 14%;
}

.home-section::before {
  background-color: var(--color-accent);
  width: 22%;
  top: 18%;
}

.info::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2.5%;
  background-color: var(--color-neutral);
  width: 18%;
  top: 22%;
}

.home-section .info {
  display: flex;
  flex-direction: column;
}

.home-section .info h1 {
  color: var(--color-main);
  font-family: var(--heading-font);
  font-size: var(--font-size-h1);
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.home-section .info h2 {
  color: var(--color-main);
  font-size: var(--font-size-lg);
  font-weight: 700;
  margin: 0;
}

.home-section .name {
  display: flex;
  justify-content: flex-start;
}

.home-section .role {
  display: flex;
  justify-content: flex-end;
}

.draw-church {
  position: absolute;
  width: 25%;
  transform: rotate(6deg);
  transition: var(--standard-transition);
  bottom: calc(var(--spacing-xl) * -3);
  left: calc(var(--spacing-xl) * -1.3);
  z-index: 1;
}

.draw-church:hover {
  transform: translateX(var(--spacing-xl) * 3);
}

.home-section {
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-section .buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
.home-section .buttons button {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--color-light);
  /* border: transparent; */
  border-radius: var(--standard-radius);
  padding: var(--spacing-sm);
  width: calc(var(--spacing-xl) * 2.5);
  margin: 0 var(--spacing-md) var(--spacing-md) 0;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}

.home-section .buttons button:hover {
  background-color: transparent;
  cursor: pointer;
}

.home-section .buttons .btn-contact {
  background-color: var(--color-main);
  border: 3px solid var(--color-main);
}

.home-section .buttons .btn-contact:hover {
  border: 3px solid var(--color-main);
  color: var(--color-main);
}

.home-section .buttons .btn-download-cv {
  background-color: var(--color-accent);
  border: 3px solid var(--color-accent);
}
.home-section .buttons .btn-download-cv:hover {
  border: 3px solid var(--color-accent);
  color: var(--color-accent);
}

.draw-church {
  position: absolute;
  width: 25%;
  transform: rotate(6deg);
  transition: var(--standard-transition);
  bottom: calc(var(--spacing-xl) * -3);
  left: calc(var(--spacing-xl) * -1);
  z-index: 1;
}

.draw-church:hover {
  transform: translateX(calc(var(--spacing-xl) * -3));
}

/* ABOUT SECTION */

.about-section {
  width: 100%;
  height: 90vh;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-section h2 {
  margin: var(--spacing-lg) 0;
  color: var(--color-main);
}

.papper-decoration {
  width: 50%;
  position: absolute;
  top: -5%;
  left: 25%;
}

.about-section .coffe {
  position: absolute;
  width: calc(var(--spacing-xl) * 4);
  height: calc(var(--spacing-xl) * 4);
  transform: rotate(-90deg);
  bottom: calc(var(--spacing-xl) * -3);
  left: calc(var(--spacing-xl) * -3);
  z-index: 1;
  transition: var(--standard-transition);
}

.about-section .coffe:hover {
  opacity: 0;
}

h2 {
  font-size: var(--font-size-xl);
  color: var(--color-light);
}

.papper-about-section {
  width: 100%;
  height: 55vh;
  position: relative;
  border-radius: var(--standard-radius);
  background: url(assets/papper.png) center/cover no-repeat;
  z-index: 1;
}

.two-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.papper-about-section .two-column > .col-left {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.papper-about-section .two-column .col-left img {
  width: 100%;
  margin: 0 var(--spacing-sm);
}

.papper-about-section .two-column > .col-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--spacing-lg);
  font-size: var(--font-size-sm);
  line-height: 1.3;
}

/* PROJECTS SECTION */

.projects-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects-section::after {
  content: "";
  width: 100%;
  height: 160vh;
  background: url(assets/background-wooden.png);
  transform: skewY(-4deg);
  position: absolute;
  top: calc(var(--spacing-xl) * -8);
  left: 0;
  z-index: -1;
}

.projects-section .coffe {
  position: absolute;
  width: calc(var(--spacing-xl) * 4);
  height: calc(var(--spacing-xl) * 4);
  transform: rotate(40deg);
  bottom: calc(var(--spacing-xl) * -1);
  right: 0; /* part of the image is outside the container */
  z-index: 1;
  transition: var(--standard-transition);
}

.projects-section .coffe:hover {
  opacity: 0;
}
*/ .cupula-draw {
  position: absolute;
  width: 25%;
  bottom: 0;
  right: 0; /* part of the image is outside the container */
  z-index: 1;
  transition: 1s ease-in-out;
}

.cupula-draw:hover {
  transform: rotate(-6deg) scale(1.1, 1.1);
}

footer .complete-draw-church {
  width: 100%;
}

@media (width<= 1000px) {
  .cupula-draw {
    width: calc(var(--spacing-xl) * 7);
    height: calc(var(--spacing-xl) * 7);
    transform: rotate(-6deg);
  }

  .draw-church {
    width: calc(var(--spacing-xl) * 5);
    width: calc(var(--spacing-xl) * 5);
  }
}

footer {
  background-color: var(--color-main);
  width: 100%;
  height: 13vh;
  display: flex;
  z-index: 1;
  color: var(--color-light);
  font-size: var(--font-size-md);
  font-family: var(--body-font);
}

.grid-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing-lg);
  max-width: var(--max-width);
}

.grid-projects .two-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 var(--spacing-lg);
}

.grid-projects .two-column .col-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 var(--spacing-sm) 0 0;
}

.grid-projects .two-column .col-left .img-technologie {
  width: calc(var(--spacing-lg) * 1.5);
  height: calc(var(--spacing-lg) * 1.5);
  /* margin:  0; */
}

.grid-projects .project-paper-decoration {
  position: absolute;
  left: -6%;
  top: 8%;
}

.project {
  background-image: url(assets/papper.png);
  border-radius: var(--standard-radius);
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-md)
    var(--spacing-lg);
  z-index: 2;
  position: relative;
}

.grid-projects .project .img-project {
  width: 80%;
  margin: var(--spacing-sm) 0;
}

.grid-projects .project .project-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-md) 0 0 0;
}

.logos img {
  width: calc(var(--spacing-lg) * 1.5);
  height: calc(var(--spacing-lg) * 1.5);
}

.grid-projects .two-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 var(--spacing-lg);
}

.grid-projects .two-column .col-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 var(--spacing-sm) 0 0;
}

.grid-projects .project-paper-decoration {
  position: absolute;
  left: -8%;
  top: 8%;
}

.grid-projects .two-column .col-right {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 var(--spacing-sm);
}

.cupula-draw {
  position: absolute;
  width: 25%;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: 1s ease-in-out;
}

.cupula-draw:hover {
  transform: rotate(-6deg) scale(1.1, 1.1);
}

/* FOOTER */

footer {
  background-color: var(--color-light);
  width: 100%;
  height: 12vh;
  display: flex;
  z-index: 1;
  color: var(--color-light);
  font-size: var(--font-size-md);
  font-family: var(--body-font);
}

footer {
  color: var(--color-main);
}

footer .complete-draw-church {
  width: 100%;
}

/* Chore 

✅ Also add more breakpoints:

@media (max-width: 768px) for tablets

@media (max-width: 480px) for phones */

footer .left {
  width: 50%;
}

footer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: calc(var(--spacing-md) * 1.5);
  position: relative;
}

footer .left .complete-draw-church {
  width: 100%;
  height: 100%;
}

footer .social-media {
  display: flex;
  margin: var(--spacing-xs) 0 0 0;
}

footer img {
  width: var(--spacing-lg);
  margin: 0 0 0 var(--spacing-sm);
}
