:root {
  /* Colors */
  --color-main: #3e4d48;
  --color-accent: #aa644b;
  --color-neutral: #a9b094;
  --color-dark: #050505;
  --color-light: #ffffff;

  /* Typography */
  --heading-font: "Inknut Antiqua", serif;
  --body-font: "Open Sans", sans-serif;

  /* Font Size */
  --font-size-xs: 0.875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
  --font-size-h1: 8rem;

  /* SPACING */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Layouts */
  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
  --standard-transition: 2s ease-in-out;
  --standard-border-radius: var(--spacing-sm);
  --max-width: 80rem;
}

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: var(--font-size-xl);
}

/* NAV */

nav {
  box-shadow: var(--standard-box-shadow);
  background-color: var(--color-light);
  width: 100%;
  min-height: 8vh;
  font-family: var(--heading-font);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  top: 0;
}

nav ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

nav ul li a {
  color: var(--color-main);
  font-family: var(--heading-font);
  font-size: var(--font-size-md);
  text-decoration: none;
}

nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Home section */

.home-section {
  width: 100%;
  min-height: 90vh;
  background: url(assets/backgorunds/background-section.png) center/cover
    no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home-section::before,
.home-section::after {
  content: "";
  position: absolute;
  left: 0;
  min-height: 2.5%;
}

.home-section::after {
  background-color: var(--color-main);
  width: 14%;
  top: 14%;
}

.home-section::before {
  background-color: var(--color-accent);
  width: 22%;
  top: 18%;
}

.home-section .info::after {
  content: "";
  position: absolute;
  left: 0;
  min-height: 2.5%;
  background-color: var(--color-neutral);
  width: 18%;
  top: 22%;
}

.home-section .info h1 {
  color: var(--color-main);
  font-family: var(--heading-font);
  font-size: var(--font-size-h1);
  font-weight: 800;
  line-height: 1;
}

.home-section .info h2 {
  color: var(--color-accent);
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.home-section .role {
  display: flex;
  justify-content: flex-end;
}

.home-section .buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}
.home-section .buttons a {
  font-family: var(--heading-font);
  font-weight: 700;
  color: var(--color-light);
  /* border: transparent; */
  border-radius: var(--standard-border-radius);
  padding: var(--spacing-sm);
  margin: 0 var(--spacing-md) var(--spacing-md) 0;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
  text-decoration: none;
}

.home-section .buttons a:hover {
  background-color: transparent;
  cursor: pointer;
}

.home-section .buttons .btn-contact {
  background-color: var(--color-main);
  border: 3px solid var(--color-main);
}

.home-section .buttons .btn-contact:hover {
  border: 3px solid var(--color-main);
  color: var(--color-main);
}

.home-section .buttons .btn-download-cv {
  background-color: var(--color-accent);
  border: 3px solid var(--color-accent);
}
.home-section .buttons .btn-download-cv:hover {
  border: 3px solid var(--color-accent);
  color: var(--color-accent);
}

.draw-church {
  position: absolute;
  width: 25%;
  transform: rotate(6deg);
  transition: var(--standard-transition);
  bottom: calc(var(--spacing-xl) * -3);
  left: calc(var(--spacing-xl) * -1);
  z-index: 1;
}

.draw-church:hover {
  transform: translateX(calc(var(--spacing-xl) * -3));
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ABOUT SECTION */

.about-section {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about-section::after {
  content: "";
  width: 100%;
  min-height: 70vh;
  background: url(assets/backgorunds/background-wooden.png) center/cover
    no-repeat;
  position: absolute;
  top: calc(var(--spacing-xl));
  left: 0;
  z-index: -1;
}

.about-section::before {
  content: "";
  width: 100%;
  min-height: 12%;
  background-color: var(--color-neutral);
  position: absolute;
  top: 0;
  z-index: -1;
}

.papper-about-section {
  width: 100%;
  min-height: auto;
  max-width: var(--max-width);
  position: relative;
  border-radius: var(--standard-border-radius);
  background: url(assets/decorations/papper-decoration.png) center/cover
    no-repeat;
  z-index: 1;
}

.about-section h2 {
  margin: var(--spacing-lg) 0;
  background: #bcaf97;
  padding: var(--spacing-sm);
  border-radius: var(--standard-border-radius);
  font-size: var(--font-size-xl);
  color: var(--color-accent);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),
    /* inner shadow */ 0 3px 6px rgba(0, 0, 0, 0.4); /* outer shadow */
}

.papper-decoration {
  width: 40%;
  position: absolute;
  top: -5%;
  left: 33%;
}

.about-section .coffe {
  position: absolute;
  width: calc(var(--spacing-xl) * 4);
  height: calc(var(--spacing-xl) * 4);
  transform: rotate(-90deg);
  bottom: calc(var(--spacing-xl));
  left: calc(var(--spacing-xl) * -2);
  transition: var(--standard-transition);
}

.about-section .coffe:hover {
  opacity: 0;
}

.two-column {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.papper-about-section .two-column .col-left {
  width: 40%;
  padding: var(--spacing-md);
}

.papper-about-section .two-column .col-right {
  width: 100%;
  padding: 0 var(--spacing-lg) var(--spacing-lg) var(--spacing-lg);
  font-size: var(--font-size-sm);
  line-height: 1.3;
}

.cupula-draw {
  position: absolute;
  width: 25%;
  bottom: calc(var(--spacing-xl) * -4);
  right: 0;
  z-index: 3;
  transition: 1s ease-in-out;
}

.cupula-draw:hover {
  transform: rotate(4deg) scale(1.05, 1.05);
}

/* MODULES SECTION */

.modules-section {
  background: url(assets/backgorunds/background-wooden.png) center/cover no-repeat;
  width: 100%;
  margin: var(--spacing-xl) 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.modules-section img {
  background: url(assets/backgorunds/background-wooden.png) center/cover no-repeat;
  width: 15%;
  z-index: 3;
  transition: 1s ease-in-out;
}

.modules-section img:hover {
  transform: rotate(-2deg) scale(1.03, 1.03);
}

/* PROJECTS SECTION */

.projects-section {
  background: url(assets/backgorunds/background-wooden.png) center/cover no-repeat;
  width: 100%;
  margin: var(--spacing-xl) 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.projects-section::before,
.projects-section::after {
  content: "";
  position: absolute;
  min-height: 5%;
  z-index: -2;
}

.projects-section::after {
  background-color: var(--color-neutral);
  right: 0;
  width: 30%;
}

.projects-section::before {
  background-color: var(--color-accent);
  left: 0;
  width: 30%;
}

.projects-section h2 {
  color: var(--color-main);
  margin: 0 0 var(--spacing-lg) 0;
}

.project {
  background-color: var(--color-light);
  color: var(--color-main);
  border: solid 3px var(--color-main);
  border-radius: var(--standard-border-radius);
  width: 100%;
  height: auto;
  padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md)
    var(--spacing-lg);
}

.project p {
  margin: var(--spacing-md) 0;
}

.project a {
  text-decoration: none;
  color: var(--color-main);
}

.grid-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--spacing-lg);
  max-width: var(--max-width);
  z-index: 2;
}

.grid-projects .img {
  width: calc(var(--spacing-lg) * 1.5);
  min-height: calc(var(--spacing-lg) * 1.5);
  margin: 0 0 0 var(--spacing-md);
}

.grid-projects .project .img-project {
  width: 80%;
  margin: var(--spacing-sm) 0;
}

.grid-projects .project .project-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logos {
  width: 100%;
  margin: var(--spacing-md) 0 0 0;
  display: flex;
  justify-content: space-between;
}

.logos img {
  width: calc(var(--spacing-lg) * 1);
  filter: opacity(0.5);
}

.logos img:hover {
  filter: opacity();
  cursor: pointer;
}

.grid-projects .two-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 var(--spacing-lg);
}

.grid-projects .two-column .col-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0 var(--spacing-sm) 0 0;
}

.moodle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background: url(assets/backgorunds/background-section.png) center/cover
    no-repeat;
}

.moodle-section h2 {
  color: var(--color-main);
}

.moodle-section .project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  border: solid 3px var(--color-main);
  color: var(--color-main);
}

.moodle-section .grid-projects {
  grid-template-columns: 1fr 1fr 1fr;
}

.moodle-section .project a {
  text-decoration: none;
  color: var(--color-main);
}

.moodle-section::before,
.moodle-section::after {
  content: "";
  position: absolute;
  min-height: 12%;
  z-index: -2;
  top: -8%;
  width: 50%;
  z-index: 1;
}

.moodle-section::after {
  background-color: var(--color-accent);
  right: 0;
}

.moodle-section::before {
  background-color: var(--color-neutral);
  left: 0;
}

.moodle-section h2 {
  margin: var(--spacing-lg) 0;
}

.projects-section .coffe {
  position: absolute;
  width: calc(var(--spacing-xl) * 4);
  height: calc(var(--spacing-xl) * 4);
  transform: rotate(40deg);
  bottom: calc(var(--spacing-xl) * -1);
  right: 0;
  z-index: 1;
  transition: var(--standard-transition);
}

.projects-section .coffe:hover {
  opacity: 0;
}

.test-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  background: url(assets/backgorunds/background-wooden.png) center/cover
    no-repeat;
}

.test-section .project {
  background: url(assets/decorations/papper-decoration.png) center/cover
    no-repeat;
  border: none;
}

.test-section .grid-projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
  max-width: var(--max-width);
  z-index: 2;
}

.test-section h2 {
  margin: var(--spacing-lg) 0;
  background: #bcaf97;
  padding: var(--spacing-sm);
  border-radius: var(--standard-border-radius);
  font-size: var(--font-size-xl);
  color: var(--color-accent);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),
    /* inner shadow */ 0 3px 6px rgba(0, 0, 0, 0.4); /* outer shadow */
}

/* FOOTER */

footer {
  background-color: var(--color-main);
  width: 100%;
  height: 10vh;
  display: flex;
  z-index: 1;
  color: var(--color-light);
  font-size: var(--font-size-md);
  font-family: var(--body-font);
}

footer .complete-draw-church {
  width: 100%;
  margin: 0;
}

footer .left {
  width: 50%;
}

footer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: calc(var(--spacing-md) * 1.5);
  position: relative;
}

footer .left .complete-draw-church {
  width: 100%;
  height: 100%;
}

footer .social-media {
  display: flex;
  margin: var(--spacing-xs) 0 0 0;
}

footer img {
  width: var(--spacing-lg);
  margin: 0 0 0 var(--spacing-sm);
}

/* Responsive */

/* Implement this media queries */

/* @media (max-width: 1200px) { }
@media (max-width: 992px)  { }
@media (max-width: 768px)  { }
@media (max-width: 576px)  { } */

@media (max-width: 1024px) {
  .home-section .info h1 {
    font-size: calc(var(--font-size-xl) * 1.5);
    line-height: 1;
  }

  .home-section .info h2 {
    font-size: calc(var(--font-size-md) * 1.2);
  }

  .home-section .draw-church {
    width: 35%;
    bottom: calc(var(--spacing-xl) * -2);
  }

  .papper-about-section {
    width: 80%;
  }

  .papper-decoration {
    top: -3%;
  }

  .cupula-draw {
    display: none;
  }

  .papper-about-section img {
    width: calc(var(--spacing-xl) * 4.5);
  }

  .projects-section::after {
    background-color: var(--color-neutral);
    right: 0;
    width: 30%;
    top: 8%;
  }

  .projects-section::before {
    background-color: var(--color-accent);
    left: 0;
    width: 30%;
    top: 8%;
  }

  .grid-projects {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
    max-width: var(--max-width);
  }
}

@media (max-width: 768px) {
  nav ul {
    width: 100%;
  }

  nav ul li a {
    font-size: var(--font-size-sm);
  }

  .home-section .info h1 {
    font-size: calc(var(--font-size-xl));
    line-height: 1;
  }

  .home-section .info h2 {
    font-size: calc(var(--font-size-md));
  }

  .home-section .draw-church {
    width: 50%;
    bottom: calc(var(--spacing-xl) * -1.5);
    transform: rotate(-4deg);
  }

  .home-section .buttons {
    flex-direction: column;
    align-items: flex-end;
  }

  .papper-about-section {
    width: 80%;
  }

  .about-section .papper-decoration {
    top: -2.5%;
    left: 20%;
  }

  .cupula-draw {
    display: none;
  }

  .papper-about-section img {
    width: calc(var(--spacing-xl) * 3.5);
  }

  .papper-about-section .draw-mine {
    margin: var(--spacing-md) 0;
  }

  .papper-about-section .two-column {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .papper-about-section .two-column .col-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .projects-section::after {
    background-color: var(--color-neutral);
    right: 0;
    width: 20%;
    top: 8%;
  }

  .projects-section::before {
    background-color: var(--color-accent);
    left: 0;
    width: 20%;
    top: 8%;
  }

  .project {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm)
      var(--spacing-md);
    transition: 0.3s ease-in-out;
  }

  .project .logos {
    display: none;
  }

  .grid-projects {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-lg);
    max-width: var(--max-width);
  }

  .moodle-section .grid-projects {
    width: 80%;
    margin: 0 0 var(--spacing-lg) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  .moodle-section .project .logos {
    display: flex;
    margin: var(--spacing-md) 0 0 0;
  }

  .test-section .grid-projects {
    width: 80%;
    margin: 0 0 var(--spacing-lg) 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    max-width: var(--max-width);
    z-index: 2;
  }

  footer .right h4 {
    display: none;
  }
}
